.card {
    background: var(--splash-ph-dark-3);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: top;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    padding: 24px;
    border-radius: 20px;
   }

#splash {
    width: calc(100% - 48px);
    height: 400px;
    background-size: auto;
    background-position-y: center;
}