:root {
    /* Splashes */
    --backdrop-splash: linear-gradient(180deg, rgba(47, 13, 73, 0.6) 0%, rgba(47, 13, 73, 0.8) 0.01%, #2F0D49 50%), url(../images/banners/hero_splash.webp);
    --placeholder-splash-dark-3: linear-gradient(180deg, rgba(12, 51, 44, 0) 0%, #0C332C 54.69%), url(../images/banners/placeholders/placeholder_dark_3.webp);

    /* Primary Palette */
    --primary-purple: rgba(49, 18, 74, 1);
    --secondary-purple: rgba(36, 16, 52, 1);
    
    /* Component Palette */
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    
    /* Icons */
    --fluenticon-keyline: url(icons/fl_keyline.svg);
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background: var(--primary-purple);
    display: flex;
    margin: 0px;
    color: var(--white);
    font-family: sans-serif;
}

h1, h2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}