---
import Layout from '../layouts/Layout.astro'
import Widget11 from '../components/Widget11.astro'
import Widget21 from "../components/Widget21.astro"

import { Projects } from "../data/data.ts"
import { Connections } from "../data/data.ts"
import { Skills } from "../data/data.ts"
---

<Layout title="funnydusto.com" description="let's describe something." image="/seo/image_a.png">
    
    <!-- Hero -->
    <header>
        <div class="bg-profile-picture size-8"/>
    </header>

    <!-- Card Grid -->
    <section class="grid grid-cols-2 gap-4">
        <Widget11 src="profile.png"/>
        <Widget11 src="profile.png"/>
        <Widget21 src="cover.png"/>
    </section>
</Layout>