---

interface Props {
    heading: string;
    subheading: string;
}

const { heading, subheading } = Astro.props;

---
<div class="flex gap-3 px-1 pb-3 border-b-2 border-zinc-600">
    <h1 class="flex-1 text-2xl leading-6 font-brand text-zinc-400 ">{heading}</h1>
    <h3 class="font-sans text-base text-zinc-400">{subheading}</h3>
</div>